*{
    font-family: Manrope;
}
/*Navbar Starts*/
.navbar-brand {
    font-size: 36px !important;
    color: #131318;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav_main {
    margin-top: 2%;
}
/*Navbar Ends*/
/*Hero Section Starts*/
.car_cus {
    background-color: #131318;
    text-align: start !important;
    padding: 30px;
    width: 500px;
    left: 50% !important;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.car_cus h5 {
    color: #FFF;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.car_cus p {
    color: rgba(255, 255, 255, 0.60);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
.carousel-control-prev {
    top: 90% !important;
    left: 4% !important;
    width: 50px;
    height: 50px;
    background-color: #131318;
    opacity: 0.9 !important;
}
.carousel-control-next {
    top: 90% !important;
    left: 9%;
    background-color: #131318;
    opacity: 0.9 !important;
}
.car_ctrl_cus {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.prev_icon_cus {
    padding: 5px !important;
    width: 23px !important;
}
.next_icon_cus {
    padding: 5px !important;
    width: 23px !important;
}
/*!Hero Section Responsive Starts*/
@media only screen and (min-width:991px) and (max-width:1060px) {
  .car_cus {
    left: 40% !important;
  }
}
@media only screen and (max-width:990px) {
  .car_cus {
    visibility: hidden;
  }
}
@media only screen and (min-width:991px) {
  .car_cus_res {
    display: none !important;
  }
}
@media only screen and (max-width:586px) {
  .carousel-control-prev {
    left: 42% !important;
    top: 80% !important;
  }
  .carousel-control-next {
    left: 52% !important;
    top: 80% !important;
  }
}
@media only screen and (min-width:587px) and (max-width:990px) {
  .carousel-control-prev {
    left: 45% !important;
    top: 80% !important;
  }
  .carousel-control-next {
    left: 52% !important;
    top: 80% !important;
  }
}
@media only screen and (max-width:499px) {
  .car_cus_res {
    height: fit-content !important;
  }
}
@media only screen and (max-width:1200px) {
  .container_cus_main {
    max-width: 95% !important;
  }
}
/*!Hero Section Responsive Ends*/
/*Hero Section Ends*/
/*Card For Responsive Starts*/
.car_cus_res {
  width: 100%;
  height: 130px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-top: 20px;
  padding: 30px;
}
.car_cus_res h5 {
  text-align: center;
  color: white;
  padding-top: 20px;
  font-size: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.car_cus_res p {
  text-align: center;
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
/*Card For Responsive Ends*/
/*Profesional Hockey's Club Starts*/
.professional_hockeys_club_title {
    width: 55%;
    margin: auto;
    margin-top: 50px;
}
.professional_hockeys_club_title h3 {
    color: #131318;
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.professional_hockeys_club_title p {
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 20px;
}
/*Profesional Hockey's Club Ends*/
/*!Profesional Hockey's Club For Responsive Starts*/
@media only screen and (max-width:926px) {
.professional_hockeys_club_main {
  width: 80%;
  margin: auto;
}
.professional_hockeys_club_title {
  width: 100%;
}
}
/*!Profesional Hockey's Club For Responsive Ends*/
/*Profesional Hockey's Club Facility Starts*/
 .circle-chart {
    width: 150px;
    height: 150px;
  }
  .circle-chart__circle {
    stroke: #00acc1;
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
  }
  .circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none; 
  }
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
    -webkit-animation: circle-chart-appear 2s forwards;
}
  .circle-chart__percent {
    text-anchor: middle;
    font-size: 8px;
  }
  .circle-chart__subline {
      text-anchor: middle;
      font-size: 3px;
  }
  .success-stroke {
    stroke: #4C8DF1;
  }
  .warning-stroke {
    stroke: #ff4240;
  }
  .danger-stroke {
    stroke: #49d293;
  }
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.professional_hockey_club_des_main {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.professional_hockey_club_des_main p{
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}
.progress_cus {
    margin-top: 80px;
}
.professional_hockey_club_des_main h5 {
    margin-top: 20px;
}
/*Profesional Hockey's Club Facility Ends*/
/*Program Sections Starts*/
.program_sections_title {
  width: 55%;
  margin: auto;
  margin-top: 50px;
}
.program_sections_title h3 {
  color: #131318;
  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.program_sections_title p {
  color: rgba(19, 19, 24, 0.60);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-top: 20px;
}
/*Program Sections Ends*/
/*Program Sections Card Starts*/
.first_card_main {
  width: 50%;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(img/hockey.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.first_card_cus h1 {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.first_card_cus p {
  width: 450px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 20;
  line-height: 26px;
}
.first_card_cus {
  padding: 25px ;
}
.first_card_cus button {
  width: 150px;
}
.second_card_main {
  width: 50%;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(img/ground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.second_card_cus h1 {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.second_card_cus p {
  width: 450px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 20;
  line-height: 26px;
}
.second_card_cus {
  padding: 25px;
}
.second_card_cus button {
  width: 150px;
}
.card_section_main {
  margin-top: 60px;
}
/*Program Sections Card Ends*/
/*Program Sections Big Card Starts*/
.big_card_main {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(img/player.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-top: 25px;
}
.big_card_cus h1 {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.big_card_cus p {
  width: 450px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 20;
  line-height: 26px;
}
.big_card_cus {
  padding: 25px;
}
.big_card_cus button {
  width: 160px;
}
.big_card_inner {
  margin-top: 200px;
}
/*Program Sections Big Card Ends*/
/*Our New Products Starts*/
.new_products_title {
  width: 55%;
  margin: auto;
  margin-top: 50px;
}
.new_products_title h3 {
  color: #131318;
  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.new_products_title p {
  color: rgba(19, 19, 24, 0.60);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-top: 20px;
}
/*Our New Products Ends*/
/*Products Display Starts*/
.product_card_inner {
  width: 50%;
}
.first_card_img {
  width: 30%;
}
.first_card_img_dis {
  width: 70%;
}
.tshirt_heading p {
  color: #131318;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.tshirt_text p {
  color: rgba(19, 19, 24, 0.60);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.price_text span {
  color: #FF4240;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}
.delivery_fee_dis span {
  color: rgba(19, 19, 24, 0.50);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.second_product_card_inner {
  width: 50%;
}
.first_card_wrap, .third_card_wrap, .fifth_card_wrap, .second_card_wrap, .fourth_card_wrap, .sixth_card_wrap{
  margin-bottom: 50px;
}
.product_display_main {
  margin-top: 80px;
}
/*Products Display Ends*/
/*Clients Question Starts*/
.client_questions_title h3 {
  color: #131318;
  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.client_questions_title p {
  color: rgba(19, 19, 24, 0.60);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.client_questions {
  margin-top: 50px;
}
/*Clients Question Ends*/
/*Clients Question Details Starts*/
.accordion_img {
  width: 40%;
}
.accordion_sec {
  width: 60%;
}
.accordion_button_cus {
  color: #131318;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.accordion_body_cus {
  color: rgba(19, 19, 24, 0.60);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.accordion_img img {
  width: 95%;
}
.accordion_sec_main {
  margin-top: 70px;
}
/*Clients Question Details Ends*/
/*Get In Touch Section Starts*/
.get_in_touch_title h3 {
  color: #131318;
  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.get_in_touch_title p {
  color: rgba(19, 19, 24, 0.60);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.get_in_touch {
  margin-top: 70px;
}
/*Get In Touch Section Ends*/
/*Get in Touch Form Section Starts*/
.phn_mail_address_form_wrap {
  width: 40%;
}
.personal_information_section {
  width: 60%;
}
.phn_number_wrap {
  width: 374px;
  height: 216px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(188, 237, 109, 0.10);
}
.mail_address_wrap {
  width: 374px;
  height: 216px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(253, 221, 95, 0.10);
}
.address_wrap {
  width: 374px;
  height: 184px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(98, 156, 243, 0.10);
}
.mail_address_wrap, .phn_number_wrap, .address_wrap {
  padding: 40px;
}
.phn_mail_address_form_wrap {
  padding: 30px 0 30px 0;
}
label {
  color: #131318;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 10px;
}
input {
  width: 326px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(19, 19, 24, 0.03);
  outline: none;
  border: none;
  padding-left: 30px;
}
input::placeholder {
  color: rgba(19, 19, 24, 0.30);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.message_section textarea {
  width: 672px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(19, 19, 24, 0.03);
  outline: none;
  border: none;
  padding-left: 30px;
}
.send_message_button button {
  display: flex;
  width: 672px;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #FF4240;
  background: #FF4240;
}
.send_message_button button[type=text] {
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 26px;
}
textarea::placeholder {
  color: rgba(19, 19, 24, 0.30);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form_main {
  margin-top: 70px;
}
/*Get in Touch Form Section Ends*/
/*Social Media Section Starts*/
.social_media_title {
  color: #131318;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.social_media_section {
  margin-top: 70px;
}
/*Social Media Section Ends*/
/*Footer Section Starts*/
.get_in_touch_wrap {
  width: 30%;
}
.company_support_service_wrap {
  width: 70%;
}
.footer_link_cus a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.60);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.get_touch_title p{
  color: #FFF;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.company_section_title, .support_section_title, .services_section_title p {
  color: #FFF;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.get_in_touch_text p {
  width: 346px;
  color: rgba(255, 255, 255, 0.60);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.mail_icon_text, .phn_nmbr_text {
  color: rgba(255, 255, 255, 0.80);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.company_support_service_wrap {
  margin-left: 120px;
}
.get_in_touch_wrap {
  margin-left: 20px;
}
.footer_section_inner {
  margin-top: 50px;
  padding-top: 80px;
  height: 400px;
}
/*Footer Section Ends*/
