*{
    font-family: Manrope;
}
/*Navbar Starts*/
.navbar-brand {
    font-size: 36px !important;
    color: #131318;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav_main {
    margin-top: 2%;
}
/*Navbar Ends*/
/*Hero Section Starts*/
.car_cus {
    background-color: #131318;
    text-align: start !important;
    padding: 30px;
    width: 500px;
    left: 50% !important;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.car_cus h5 {
    color: #FFF;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.car_cus p {
    color: rgba(255, 255, 255, 0.60);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}
.carousel-control-prev {
    top: 90% !important;
    left: 4% !important;
    width: 50px;
    height: 50px;
    background-color: #131318;
    opacity: 0.9 !important;
}
.carousel-control-next {
    top: 90% !important;
    left: 9%;
    background-color: #131318;
    opacity: 0.9 !important;
}
.car_ctrl_cus {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.prev_icon_cus {
    padding: 5px !important;
    width: 23px !important;
}
.next_icon_cus {
    padding: 5px !important;
    width: 23px !important;
}
/*Hero Section Ends*/
/*Profesional Hockey's Club Starts*/
.professional_hockeys_club_title {
    width: 55%;
    margin: auto;
    margin-top: 50px;
}
.professional_hockeys_club_title h3 {
    color: #131318;
    text-align: center;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.professional_hockeys_club_title p {
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: 20px;
}
/*Profesional Hockey's Club Ends*/
/*Profesional Hockey's Club Facility Starts*/
 .circle-chart {
    width: 150px;
    height: 150px;
  }
  .circle-chart__circle {
    stroke: #00acc1;
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
  }
  .circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none; 
  }
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
    -webkit-animation: circle-chart-appear 2s forwards;
}
  .circle-chart__percent {
    text-anchor: middle;
    font-size: 8px;
  }
  .circle-chart__subline {
      text-anchor: middle;
      font-size: 3px;
  }
  .success-stroke {
    stroke: #4C8DF1;
  }
  .warning-stroke {
    stroke: #ff4240;
  }
  .danger-stroke {
    stroke: #49d293;
  }
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.professional_hockey_club_des_main {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.professional_hockey_club_des_main p{
    color: rgba(19, 19, 24, 0.60);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}
.progress_cus {
    margin-top: 80px;
}
.professional_hockey_club_des_main h5 {
    margin-top: 20px;
}
/*Profesional Hockey's Club Facility Ends*/
/*Program Sections Starts*/
.program_sections_title {
  width: 55%;
  margin: auto;
  margin-top: 50px;
}
.program_sections_title h3 {
  color: #131318;
  text-align: center;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.program_sections_title p {
  color: rgba(19, 19, 24, 0.60);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-top: 20px;
}
/*Program Sections Ends*/
/*Program Sections Card Starts*/
.first_card_main {
  width: 50%;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(img/hockey.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.first_card_cus h1 {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.first_card_cus p {
  width: 450px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 20;
  line-height: 26px;
}
.first_card_cus {
  padding: 25px ;
}
.first_card_cus button {
  width: 150px;
}
.second_card_main {
  width: 50%;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(img/ground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.second_card_cus h1 {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.second_card_cus p {
  width: 450px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 20;
  line-height: 26px;
}
.second_card_cus {
  padding: 25px;
}
.second_card_cus button {
  width: 150px;
}
.card_section_main {
  margin-top: 60px;
}
/*Program Sections Card Ends*/
/*Program Sections Big Card Starts*/
.big_card_main {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(img/player.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  margin-top: 25px;
}
.big_card_cus h1 {
  color: #FFF;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.big_card_cus p {
  width: 450px;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 20;
  line-height: 26px;
}
.big_card_cus {
  padding: 25px;
}
.big_card_cus button {
  width: 250px;
}
.big_card_inner {
  margin-top: 200px;
}
/*Program Sections Big Card Ends*/